@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hero-bg {
  background-image: url('https://i.ibb.co/Dk88psm/new-hero.jpg');
  background-size: cover;
  background-position: center;
}

.container
{
  max-width: 1800px;
  margin: 0 auto;
}

/* Font declarations */
@font-face {
  font-family: 'Milker';
  src: url('/fonts/Milker.otf') format('opentype');
  font-weight: bold;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Typographica';
  src: url('/fonts/Typographica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'StudioSans';
  src: url('/fonts/StudioSans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Minigap';
  src: url('/fonts/Minigap.otf') format('opentype');
  font-weight: bold;
  font-style: bold;
  font-display: swap;
}

.milker{
  font-family: 'Milker';
}

.typographica{
  font-family: 'Typographica';
}

.minigap{
  font-family: 'Minigap';
}

.studio-sans{
  font-family: 'StudioSans';
}